name: autofix.ci # needed to securely identify the workflow
on:
  pull_request:
  push:
    branches: ["main", "vite"]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - run: pnpm install
      - run: pnpm format
      - run: pnpm lint
      - run: |
          ls -lha

      - uses: autofix-ci/action@v1
        with:
          commit-message: "chore: apply automated updates"
          fail-fast: false
