name: Publish Any Commit
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: yanhao98/composite-actions/setup-node-environment@main
      - run: pnpm build
      - run: pnpm dlx pkg-pr-new publish # https://github.com/stackblitz-labs/pkg.pr.new?tab=readme-ov-file#examples
